/* styles.css */

/* Resetting default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    line-height: 1.6;
    margin-left: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #66afe9;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button[type="submit"] {
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
#buttt{
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
.dell{
    padding: 12px 20px;
    
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    background-color: rgb(211, 4, 4);
}

hr {
    margin: 40px 0;
    border: none;
    border-top: 1px solid #ccc;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    input[type="text"],
    input[type="number"],
    select {
        width: calc(100% - 20px);
    }
}
